<!DOCTYPE html>
<html itemscope itemtype="//schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Making creative online bots." />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Creative online bots 🤖🎨</title>
  <meta property="og:title" content="Creative online bots 🤖🎨" />
  <meta property="og:description" content="Making creative online bots." />
  <meta property="og:type" content="website" />
  <meta name="twitter:title" content="Creative online bots 🤖🎨">
  <meta name="twitter:description" content="Making creative online bots.">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">  
  <link rel="shortcut icon" href="https://cdn.glitch.com/478eeae7-13dc-463c-b280-ea7b06b63e2d%2Ffavicon.ico">
  </head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <section id="content">
    <div id="content-inner">
      {{{body}}}
    </div>
<!--
    <footer class="shifted">
      <p><a href="https://glitch.com/edit/#!/stefan">Make your own Glitch projects page.</a> Created by <a href="https://twitter.com/fourtonfish">@fourtonfish</a>.</p>
    </footer>
-->
    </section>
<!--   <script defer src="js/scripts.js"></script> -->
  </body>
</html>