<div class="container ml-auto mr-auto">
  <h1 class="text-center mt-5 mb-5">Creative online bots 🤖🎨</h1>
  <div class="centered mb-3">
    <img class="w-100" src="https://botwiki.org/wp-content/uploads/2020/05/tweet.gif">
  </div>
  <p>
    Visit <a href="https://botwiki.org/">Botwiki</a> and <a href="https://botmakers.org/">Botmakers</a> to learn more about creative bots.
    <a href="https://glitch.com/edit/#!/creative-bots?path=README.md">Original project template</a> created by <a href="https://twitter.com/fourtonfish">Stefan Bohacek</a>.
  </p>    
  {{#if bots}}
    <h2 class="mt-4 mb-4">Bot showcase</h2>
    {{#each bots}}
    {{> bot
      name=this.name
      description=this.description
      thumbnail=this.thumbnail
      preview=this.preview
      about_url=this.about_url
      links=this.links
      file=this.file
      interval=this.interval
      interval_human=this.interval_human
      next_run=this.next_run
    }}
    {{/each}}
  {{else}} 
    <p>See this project's <a href="https://glitch.com/edit/#!/creative-bots?path=README.md">source code</a> for instructions.</p>
  {{/if}} 
</div>
