section {
  margin: 0 auto;
}

.bot-showcase img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  margin-bottom: 20px;
}

#back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: #272d33;
}

.fediverse-post {
  max-width: 500px;
}

.fediverse-post .invisible {
  display: none;
}
